<span class="pull-right">
    <cl-paging flex cl-pages="pOCTRL.paging.count" cl-steps="5" cl-page-changed="pOCTRL.paging.onPageChanged()" cl-align="center center"
        cl-current-page="pOCTRL.paging.current"></cl-paging>
</span>
<div class="container">
    <div class="row">   
        <h2>Post Office</h2>
    </div>
    <div class="editor-indent" style="margin-left: 20px; padding: 0 0 0 40px; margin-right: 50px">

        <div class="inner">
            <h3>Find By:</h3>
        </div>
        <div class="example">

            <ul class="cards">
                <li>
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>List of Post Offices</h3>
                        </div>
                        <div class="col-sm-6">
                            <div class="card-wrapper">
                                <a ui-sref="dashboard.postOfficeList({flag:'all', search: undefined})">
                                    <button type="button"  class="btn btn-info">Click</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <p>While cliking you will get the list of all postoffices of India</p>
                </li>
                <li>
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Search Post Offices by Pincode</h3>
                        </div>
                        <div class="card-wrapper">
                            <form name="pincodeForm">
                                <div class="col-sm-6 bottom-space">
                                    <input class="form-control" id="pincode" name="pincode" ng-model="pOCTRL.postoffice.search" placeholder="Pincode" ng-maxlength="10" type="number" required>
                                    <span class="text-error" data-ng-show="pincodeForm.pincode.$dirty && pincodeForm.pincode.$invalid && pincodeForm.pincode.$error.required">Pincode is required</span>
                                    <span class="text-error" data-ng-show="pincodeForm.pincode.$number.required">Not valid Pincode</span>
                                </div>
                                <br>
                                <div class="col-sm-6">
                                    <a ui-sref="dashboard.postOfficeList({flag:'pincode', search: pOCTRL.postoffice.search})">
                                        <button type="button" class="btn btn-info" ng-disabled="pincodeForm.pincode.$dirty && pincodeForm.pincode.$invalid ||
                                        pincodeForm.pincode.$invalid">Click</button>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <p>While clicking you will get the list of all postoffices of India by Pincode</p>
                </li>

                <li>
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Search Post Offices in a State</h3>
                        </div>
                        <div class="col-sm-6">
                            <div class="card-wrapper">
                                <a ui-sref="dashboard.postOfficeList">
                                    <button type="button" class="btn btn-info">Click</button>
                                </a>

                            </div>
                        </div>
                    </div>
                    <p>On clicking get the list of Post Offices as per the State.
                    </p>
                </li>
                <li>
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Search Post Offices in a District</h3>
                        </div>
                        <div class="col-sm-6">
                            <div class="card-wrapper">
                                <a ui-sref="dashboard.postOfficeList">
                                    <button type = "button" class="btn btn-info">Click</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <p>On clicking get the list of Post Offices district wise.</p>
                </li>

                <li>
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Search Post Offices in a City</h3>
                        </div>
                        <div class="col-sm-6">
                            <div class="card-wrapper">
                                <a ui-sref="dashboard.postOfficeList">
                            <button type="button" class="btn btn-info">Click</button>
                        </a>
                            </div>
                        </div>
                    </div>
                    <p>On Clicking get the list of Post Offices as per city</p>
                </li>

                <li>
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Search Post offices by name</h3>
                        </div>
                        <div class="col-sm-6">
                            <div class="card-wrapper">
                                <a ui-sref="dashboard.postOfficeList">
                                <button type = "button" class="btn btn-info">Click</button>
                            </a>
                            </div>
                        </div>
                    </div>
                    <p>Get the details of Post Office by its name.</p>
                </li>
            </ul>
        </div>
    </div>
</div>