<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- <base href="/"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Daily usage utility Web site developed for public to access user needs easily">
    <meta name="keywords" content="HTML,CSS,JSON,JavaScript,Angular.JS,Node.JS,MongoDB">
    <meta name="author" content="Himanshu Nath & Jagdeep Sandhu">
    <title>TechDocket</title>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="icon" href="assets/images/icon-favicon.png">

    <style> 
        @font-face {
           font-family: Glyphicons Halflings;
           src: url(build/fonts/glyphicons-halflings-regular.ttf),
           url(build/fonts/glyphicons-halflings-regular.woff) format('woff');
        }

        @font-face {
            font-family: 'Font-Awesome';
            src: url(build/fonts/font-awesome-4.5.0/fonts/fontawesome-webfont.woff2) format("woff2"),
            url(build/fonts/font-awesome-4.5.0/fonts/fontawesome-webfont.woff) format('woff'), 
            url(build/fonts/form/font-awesome-4.5.0/fonts/fontawesome-webfont.ttf) format('truetype');
        }
    </style>   
    
    <!-- build:css build/css/vendor.css-->
    <link rel="stylesheet" href="assets/libs/jquery-ui/themes/smoothness/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="assets/libs/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="assets/libs/sweetalert2/dist/sweetalert2.min.css"type="text/css"> 
    <link rel="stylesheet" href="assets/libs/angular-loading-bar/build/loading-bar.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="assets/css/custom.css" type="text/css">
    <link rel="stylesheet" href="assets/libs/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="assets/libs/animate.css/animate.min.css" type="text/css">
    <!-- endbuild -->
</head>

<body ng-app="techDocket" ng-controller="MainController as MainCtrl" data-spy="scroll" data-target=".navbar" data-offset="60">
    <div class="row left-right-margin-0" style="background-image: url('assets/images/background/bk1.jpg'); background-repeat: no-repeat;
    background-attachment: fixed;">
        <div ui-view></div>
    </div>
    <div class="spinner" ng-if="viewSpinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</body>

<!-- build:js build/js/vendor.js-->
<script src="assets/libs/jquery/dist/jquery.min.js"></script>
<script src="assets/libs/jquery-ui/jquery-ui.min.js"></script>
<script src="assets/libs/angular/angular.min.js"></script>
<script src="assets/libs/angular-resource/angular-resource.min.js"></script>
<script src="assets/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/libs/sweetalert2/dist/sweetalert2.min.js"></script>
<script src="assets/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="assets/libs/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="assets/libs/moment/min/moment.min.js"></script>
<script src="assets/libs/angular-loading-bar/build/loading-bar.min.js"></script>
<script src="assets/libs/angular-animate/angular-animate.min.js"></script>
<script src="assets/libs/angular-sanitize/angular-sanitize.min.js"></script>
<script src="assets/libs/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="assets/libs/ng-file-upload/ng-file-upload.min.js"></script>
<script src="assets/libs/angular-paging/dist/paging.min.js"></script>
<!-- endbuild -->

<!-- build:js build/js/app.js-->
<script src="app/app.module.js"></script>
<script src="app/app.routes.js"></script>
<script src="app/app.env.js"></script>
<script src="app/app.constants.js"></script>
<script src="app/app.config.js"></script>
<script src="app/app.value.js"></script>
<script src="app/app.provider.js"></script>

<!-- angular services -->
<script src="app/components/mainController/main.service.js"></script>
<script src="app/components/dashboard/dashboard.service.js"></script>
<script src="app/components/dashboard/postOffice/postOffice.service.js"></script>
<script src="app/components/dashboard/postOfficeList/postOfficeList.service.js"></script>
<script src="app/components/dashboard/currency/currency.service.js"></script>
<script src="app/components/dashboard/oilPrice/oilPrice.service.js"></script>
<script src="app/components/dashboard/urlShortner/urlShortner.service.js"></script>
<script src="app/components/dashboard/countries/countries.service.js"></script>
<script src="app/components/dashboard/languageTranslate/languageTranslate.service.js"></script>
<script src="app/components/dashboard/speechConverter/speechConverter.service.js"></script>
<script src="app/components/dashboard/location/location.service.js"></script>
<script src="app/components/dashboard/news/news.service.js"></script>
<script src="app/components/dashboard/home/home.service.js"></script>
<script src="app/partials/header/header.service.js"></script>
<script src="app/partials/footer/footer.service.js"></script>

<!-- angular controllers -->
<script src="app/components/mainController/main.controller.js"></script>
<script src="app/components/dashboard/dashboard.controller.js"></script>
<script src="app/components/dashboard/postOffice/postOffice.controller.js"></script>
<script src="app/components/dashboard/postOfficeList/postOfficeList.controller.js"></script>
<script src="app/components/dashboard/oilPrice/oilPrice.controller.js"></script>
<script src="app/components/dashboard/currency/currency.controller.js"></script>
<script src="app/components/dashboard/urlShortner/urlShortner.controller.js"></script>
<script src="app/components/dashboard/countries/countries.controller.js"></script>
<script src="app/components/dashboard/languageTranslate/languageTranslate.controller.js"></script>
<script src="app/components/dashboard/speechConverter/speechConverter.controller.js"></script>
<script src="app/components/dashboard/location/location.controller.js"></script>
<script src="app/components/dashboard/news/news.controller.js"></script>
<script src="app/components/dashboard/home/home.controller.js"></script>
<script src="app/partials/header/header.controller.js"></script>
<script src="app/partials/footer/footer.controller.js"></script>

<!-- angular directive -->
<script src="app/directives/modalBox/modalBox.directive.js"></script>
<script src="app/directives/modalBox/modalBox.news.controller.js"></script>

<!-- angular filter -->
<script src="app/filters/higlightTextSearch.filter.js"></script>

<!-- custom filters -->
<!-- endbuild -->
</html>