<footer class="container-fluid text-center" ng-controller="FooterController as FCtrl">
	<a href="#myPage" title="To Top">
	  <span class="glyphicon glyphicon-chevron-up"></span>
	</a>
	<div ng-click="FCtrl.gotoTop()" class="goto-top-btn"><i class="fa fa-arrow-circle-up" style="font-size:36px"></i></div>
	<p>Developer profile <a href="https://plus.google.com/u/1/103234227632908776255" target="_blank" title="Himanshu Nath Google+"><i class="fa fa-google-plus fa-2x"></i></a> Himanshu &nbsp; &amp; &nbsp; <a href="https://plus.google.com/u/0/103621157080898313276" target="_blank" title="Jagdeep Sandhu Google+"><i class="fa fa-google-plus fa-2x"></i></a> Jagdeep &nbsp; &copy; &nbsp; 2018 </p>
  </footer>