<div class="container">
    <div class="row">
        <h2>Post Office</h2>
    </div>
    <div class="editor-indent" style="margin-left: 20px; padding: 0 0 0 40px; margin-right: 50px">

        <div class="inner">
            <div class="row">
                <div class="col-sm-2">
                    <h3>List:</h3>
                </div>
                <div class="col-sm-10 text-align-center">
                    <paging 
                        page="POLCtrl.paging.current" 
                        page-size="POLCtrl.paging.size" 
                        total="POLCtrl.paging.total" 
                        show-prev-next="true"
                        show-first-last="true" 
                        paging-action="POLCtrl.pageChanged(page)" 
                        text-first="&laquo;" text-last="&raquo;"
                        text-next="&rsaquo;" text-prev="&lsaquo;" 
                        text-title-page="Page {page}" 
                        text-title-first="First Page"
                        text-title-last="Last Page" 
                        text-title-next="Next Page" 
                        text-title-prev="Previous Page" 
                        text-first-class="glyphicon glyphicon-backward"
                        text-last-class="glyphicon glyphicon-forward" 
                        text-next-class="glyphicon glyphicon-chevron-right" 
                        text-prev-class="glyphicon glyphicon-chevron-left"
                        adjacent="2"
                        dots="___">
                    </paging>
                </div>

            </div>
        </div>
        <div class="example">
            <ul class="cards">
                <li ng-repeat="postOffice in POLCtrl.postOfficeList">
                    <h2>{{postOffice.office_name}}</h2>
                    <p>
                        <b> Circle Name: </b> {{postOffice.circle_name}} </p>
                    <p>
                        <b> Division Name: </b> {{postOffice.division_name}} </p>
                    <p>
                        <b> Taluk Name: </b> {{postOffice.taluk}} </p>
                    <p ng-show="postOffice.telephone != 'NA'">
                        <b> Telephone Number: </b> {{postOffice.telephone}} </p>
                    <p>
                        <b> Head Office: </b> {{postOffice.related_headoffice}} </p>
                    <p>
                        <b> Location: </b>{{postOffice.district_name}} {{postOffice.region_name}} {{postOffice.state_name}} {{postOffice.pincode}}
                    </p>
                </li>

            </ul>

        </div>
    </div>
</div>