<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#homeHeading"><img src="assets/images/logo/logo1.png" class="img-rounded top-margin-neg-per" 
				alt="Tech Dockets" width="30px"></a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">	
				<li>
					<a href="#carousel">CAROUSEL</a>
				</li>
				<li>
					<a href="#about">ABOUT</a>
				</li>
				<li>
					<a href="#services">SERVICES</a>
				</li>
				<li>
					<a href="#portfolio">PORTFOLIO</a>
				</li>
				<li>
					<a href="#team">TEAM</a>
				</li>
				<li>
					<a href="#contact">CONTACT</a>
				</li>				
			</ul>
		</div>
	</div>
</nav>