<div class="container">
  <div class="row">
    <h2>Countries</h2>
  </div>
  <div class="editor-indent row">
    <div class="inner">
      <h3>If a country is to be corruption free and become a nation of beautiful minds, I strongly feel there are three key societal
        members who can make a difference. They are the father, the mother and the teacher.</h3>
      <br>
    </div>
    <div class="example">
      <div class="well container">
        <div class="card">
          <div class="card-body">
            <div class="panel panel-default">
              <div class="panel-heading text-center">Countries List</div>
              <div class="panel-body">
                <label for="Input">Serach (Filter):</label>
                <input class="form-control" id="countrySearchText" type="text" ng-model="CountryCtrl.countrySearchText" placeholder="Search in list">
                <br>

                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Country Name</th>
                        <th>ISO-2</th>
                        <th>ISO-3</th>
                        <th>ISO Numeric</th>
                        <th>Geo Name Id</th>
                        <th>Capital</th>
                        <th>Currency</th>                        
                        <th>Continent</th>
                        <th>Phone Code</th>
                        <th>Languages</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="country in CountryCtrl.countrylist | filter:CountryCtrl.countrySearchText">
                        <td>{{$index + 1}}</td>
                        <td ng-bind-html="country.countryName | highlight:CountryCtrl.countrySearchText"></td>
                        <td ng-bind-html="country.iso2 | highlight:CountryCtrl.countrySearchText"></td>
                        <td ng-bind-html="country.iso3 | highlight:CountryCtrl.countrySearchText"></td>
                        <td>{{country.isoNumeric}}</td>
                        <td>{{country.geoNameId}}</td>
                        <td ng-bind-html="country.capital | highlight:CountryCtrl.countrySearchText"></td>
                        <td ng-bind-html="country.currency | highlight:CountryCtrl.countrySearchText"></td>
                        <td ng-bind-html="country.continent | highlight:CountryCtrl.countrySearchText"></td>
                        <td ng-bind-html="country.phoneCode | highlight:CountryCtrl.countrySearchText"></td>
                        <td uib-tooltip="{{country.languages}}">{{country.languageCodes | limitTo: 10 }}{{country.languageCodes.length > 10 ? '...' : ''}}</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>