<div class="container">
    <div class="row">
        <h2>News</h2>
    </div>
    <div class="editor-indent row">
        <div class="inner">
            <h3>The idea of redemption is always good news, even if it means sacrifice or some difficult times.</h3>
            <br>
        </div>
        <div class="example">
            <div class="well container">
                <div class="card">
                    <div class="card-body">
                        <uib-tabset type="pills" justified="true">
                            <uib-tab heading="Headline">
                                <form name="headlineForm">
                                    <div class="row">
                                        <div class="col-sm-4 left-right-padding-5-per">
                                            <h4 class="card-title text-center">Provide input for your headline:</h4>
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <label for="Input">Search By:</label>
                                                        <input class="form-control text-align-center" name="searchHText" ng-model="NCtrl.searchHText" ng-disabled="NCtrl.sourceCode != null || NCtrl.countryCode != null || NCtrl.categoryCode != null"
                                                            ng-init="NCtrl.searchHText = ''">
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="text-align-center">
                                                <I>OR</I>
                                            </p>
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <label for="Input">Sources (News paper company):</label>
                                                        <select name="sourceH" class="btn btn-default dropdown-toggle form-control" ng-options="source.id as source.name for source in NCtrl.sourceList | orderBy : 'name' track by source.id"
                                                            ng-model="NCtrl.sourceCode" ng-disabled="NCtrl.countryCode != null|| NCtrl.categoryCode != null || NCtrl.searchHText.length > 0">
                                                            <option value="">Select Any Source</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="text-align-center">
                                                <I>OR</I>
                                            </p>
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <label for="Input">Country (Code):</label>
                                                        <select name="countryH" class="btn btn-default dropdown-toggle form-control" ng-options="country.code as country.name for country in NCtrl.countries | orderBy : 'name' track by country.code"
                                                            ng-model="NCtrl.countryCode" ng-disabled="NCtrl.searchHText.length > 0 || NCtrl.sourceCode != null">
                                                            <option value="">Select Any Country</option>
                                                        </select>
                                                        <br>
                                                        <label for="Input">Category (News type):</label>
                                                        <select name="categoryH" class="btn btn-default dropdown-toggle form-control" ng-options="category.code as category.name for category in NCtrl.categories | orderBy : 'name' track by category.code"
                                                            ng-model="NCtrl.categoryCode" ng-disabled="NCtrl.searchHText.length > 0 || NCtrl.sourceCode != null">
                                                            <option value="">Select Any Category</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 text-center">
                                                    <button class="btn btn-info" ng-click="NCtrl.headlineSearch()" ng-disabled="NCtrl.sourceCode == null && NCtrl.countryCode == null &&  NCtrl.searchHText.length == 0">Search</button>
                                                </div>
                                                <div class="col-sm-3 text-center">
                                                    <a ui-sref="dashboard.home">
                                                        <button type="button" class="btn">Back</button>
                                                    </a>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-sm-6 text-center">
                                                    <button type="button" ng-click="NCtrl.headlineClear()" class="btn btn-default">Clear field</button>
                                                </div>
                                                <div class="col-sm-3 text-center">
                                                    <button type="button" ng-click="NCtrl.clearHeadline()" class="btn btn-danger">Clear Result</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-8 left-right-padding-5-per">
                                            <h4 class="card-title text-center" ng-show="NCtrl.headLineList.length > 0">News list:</h4>
                                            <h4 class="card-title text-center" ng-hide="NCtrl.headLineList.length > 0">News list will appear here:</h4>
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <label for="Input">Serach (Filter):</label>
                                                    <input class="form-control" id="headlingSearchText" type="text" ng-model="NCtrl.headlingSearchText" placeholder="Search in list">
                                                    <br>
                                                    <ul class="list-group headline-list">
                                                        <li class="list-group-item" ng-repeat="headLine in NCtrl.headLineList | filter:NCtrl.headlingSearchText">
                                                            <div class="media">
                                                                <div class="media-left">
                                                                    <img ng-src="{{headLine.urlToImage}}" class="media-object" style="width:60px">
                                                                </div>
                                                                <div class="media-body">
                                                                    <h4 class="list-group-item-heading">{{headLine.title}}</h4>
                                                                </div>
                                                                <div class="media-right">
                                                                    <modal-box news="headLine"></modal-box>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </uib-tab>
                            <uib-tab heading="Everything">
                                <form name="everythingForm">
                                    <div class="row">
                                        <div class="col-sm-4 left-right-padding-5-per">
                                            <h4 class="card-title text-center">Provide input for your everything:</h4>
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <label for="Input">Search By:</label>
                                                        <input class="form-control text-align-center" name="searchEText" ng-model="NCtrl.searchEText"
                                                            ng-init="NCtrl.searchEText = ''">
                                                        <label for="Input">Sources (News paper company):</label>
                                                        <select name="sourceE" class="btn btn-default dropdown-toggle form-control" ng-options="source.id as source.name for source in NCtrl.sourceList | orderBy : 'name' track by source.id"
                                                            ng-model="NCtrl.sourceCodeE">
                                                            <option value="">Select Any Source</option>
                                                        </select>
                                                        <label for="Input">Languages (Code):</label>
                                                        <select name="languageE" class="btn btn-default dropdown-toggle form-control" ng-options="language.code as language.name for language in NCtrl.languages | orderBy : 'name' track by language.code"
                                                            ng-model="NCtrl.languageCode">
                                                            <option value="">Select Any Language</option>
                                                        </select>
                                                        <br>
                                                        <label for="Input">Sort By:</label>
                                                        <select name="sortByE" class="btn btn-default dropdown-toggle form-control" ng-options="sortBy.code as sortBy.name for sortBy in NCtrl.sortBys | orderBy : 'name' track by sortBy.code"
                                                            ng-model="NCtrl.sortByCode">
                                                            <option value="">Select Any Sort By</option>
                                                        </select>
                                                        <div class="row">
                                                            <div class="col-sm-6 text-left">
                                                                <label for="Input">Page Number:</label>
                                                            </div>
                                                            <div class="col-sm-6 text-left">
                                                                <label for="Input">Page Size:</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6 text-left">
                                                                <input class="form-control text-align-center" name="pageNumberE" ng-model="NCtrl.pageNumberE">
                                                            </div>
                                                            <div class="col-sm-6 text-right">
                                                                <input class="form-control text-align-center" name="pageSizeE" ng-model="NCtrl.pageSizeE">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 text-center">
                                                    <button class="btn btn-info" ng-click="NCtrl.everythingSearch()" ng-disabled="NCtrl.searchEText.length == 0">Search</button>
                                                </div>
                                                <div class="col-sm-3 text-center">
                                                    <a ui-sref="dashboard.home">
                                                        <button type="button" class="btn">Back</button>
                                                    </a>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-sm-6 text-center">
                                                    <button type="button" ng-click="NCtrl.everythingClear()" class="btn btn-default">Clear field</button>
                                                </div>
                                                <div class="col-sm-3 text-center">
                                                    <button type="button" ng-click="NCtrl.clearEverythingList()" class="btn btn-danger">Clear Result</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-8 left-right-padding-5-per">
                                            <h4 class="card-title text-center" ng-show="NCtrl.everthingList.length > 0">News list:</h4>
                                            <h4 class="card-title text-center" ng-hide="NCtrl.everthingList.length > 0">News list will appear here:</h4>
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <label for="Input">Serach (Filter):</label>
                                                    <input class="form-control" id="everythingSearchText" type="text" ng-model="NCtrl.everythingSearchText" placeholder="Search in list">
                                                    <br>
                                                    <ul class="list-group headline-list">
                                                        <li class="list-group-item" ng-repeat="everything in NCtrl.everythingList | filter:NCtrl.everythingSearchText">
                                                            <div class="media">
                                                                <div class="media-left">
                                                                    <img ng-src="{{everything.urlToImage}}" class="media-object" style="width:60px">
                                                                </div>
                                                                <div class="media-body">
                                                                    <h4 class="list-group-item-heading">{{everything.title}}</h4>
                                                                </div>
                                                                <div class="media-right">
                                                                    <modal-box news="everything"></modal-box>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>