<div class="container">
    <div class="row">
        <h2>Url Shortner</h2>
    </div>
    <div class="editor-indent row">
        <div class="inner">
            <h4>Google URL Shortener at goo.gl is used by Google products to create short URLs that can be easily shared, tweeted,
                or emailed to friends.</h4>
            <br>
        </div>
        <div class="example">
            <div class="well container">
                <div class="card">
                    <div class="card-body">
                        <uib-tabset type="pills" justified="true">
                            <uib-tab heading="URL Shortner">
                                <form name="urlShortForm">
                                    <div id="UrlShort">
                                        <div class="row">
                                            <div class="col-sm-6 left-right-padding-5-per">
                                                <h4 class="card-title">Enter the complete URL:</h4>
                                                <label for="Input">Input:</label>
                                                <div class="form-group">
                                                    <textarea class="form-control text-align-center" name="inputShortUrl" ng-minlength="2" rows="7" id="inputShortUrl" ng-model="USCtrl.shortUrlInput"
                                                        type="url" required></textarea>
                                                    <span class="text-error" data-ng-show="urlShortForm.inputShortUrl.$dirty && urlShortForm.inputShortUrl.$invalid && urlShortForm.inputShortUrl.$error.required">URL is required</span>
                                                    <span class="text-error" data-ng-show="urlShortForm.inputShortUrl.$error.minlength">Minimum length should be two</span>
                                                    <span class="text-error" data-ng-show="urlShortForm.inputShortUrl.$error.url">Invalid url!</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 left-right-padding-5-per">
                                                <!--<div class="row text-align-center top-bottom-margin-per">-->
                                                <h4 class="card-title">See the result here:</h4>
                                                <label for="output">Output:</label>
                                                <textarea class="form-control text-align-center" style="color:blue;" name="outputShortUrl" ng-minlength="2" rows="7" id="output"
                                                    ng-model="USCtrl.shortUrlOutput" disabled>{{USCtrl.shortUrlOutput}}</textarea>
                                                <!--</div>-->
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6 text-center">
                                                <button class="btn btn-info" data-ng-click="USCtrl.urlShortner()" ng-disabled="urlShortForm.inputShortUrl.$invalid && urlShortForm.inputShortUrl.$dirty || urlShortForm.$invalid">Convert</button>
                                            </div>
                                            <div class="col-sm-6 text-center">
                                                <a ui-sref="dashboard.home">
                                                    <button type="button" class="btn">Back</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </uib-tab>
                            <uib-tab heading="URL Expander">
                                <form name="urlExpandForm">
                                    <div id="urlExpand">
                                        <div class="row">
                                            <div class="col-sm-6 left-right-padding-5-per">
                                                <h4 class="card-title">Enter the shortened url:</h4>
                                                <label for="input">Input:</label>
                                                <div class="form-group">
                                                    <textarea class="form-control text-align-center" name="inputExpandUrl" id="inputExpandUrl" ng-minlength="2" rows="7" ng-model="USCtrl.expandUrlInput"
                                                        type="url" required></textarea>
                                                    <span class="text-error" data-ng-show="urlExpandForm.inputExpandUrl.$invalid && urlExpandForm.inputExpandUrl.$dirty && urlExpandForm.inputExpandUrl.$error.required">URL is required</span>
                                                    <span class="text-error" data-ng-show="urlExpandForm.inputExpandUrl.$error.minlength">Minimum length should be two</span>
                                                    <span class="text-error" data-ng-show="urlExpandForm.inputExpandUrl.$error.url">Invalid url!</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 left-right-padding-5-per">
                                                <h4 class="card-title">See the result here:</h4>
                                                <label for="output">Output:</label>
                                                <textarea class="form-control text-align-center" style="color:blue;" name="outputExpandUrl" id="output" ng-minlength="2"
                                                    rows="7" ng-model="USCtrl.expandUrlOutput" disabled>{{USCtrl.expandUrlOutput}}</textarea>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6 text-center">
                                                <button class="btn btn-info" data-ng-click="USCtrl.urlExpander()" ng-disabled="urlExpandForm.inputExpandUrl.$invalid && urlExpandForm.inputExpandUrl.$dirty || urlExpandForm.$invalid">Convert</button>
                                            </div>
                                        </div>
                                </form>
                            </uib-tab>
                        </uib-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>