<div class="jumbotron text-center" id="homeHeading">
  <img src="assets/images/logo/logo1.png" class="img-rounded" alt="Tech Dockets" width="200px">
  <br>
  <h1>TechDocket</h1>
  <br>
  <h2>Its a place where you will find your dealy neede stuff</h2>
  <p>The art challenges the technology, and the technology inspires the art - John Lasseter</p>
  <br>
</div>

<div id="carousel" class="container-fluid">
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="background-color: transparent;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="assets/images/carousel/news.jpg" class="carousel-roundshape" alt="Los Angeles">
        <div class="carousel-caption">
          <h3>News</h3>
          <p>LA is always so much fun!</p>
        </div>
      </div>
  
      <div class="item">
        <img src="assets/images/carousel/fuel.jpg" class="carousel-roundshape" alt="Chicago">
        <div class="carousel-caption">
          <h3>Fuel</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>

      <div class="item">
        <img src="assets/images/carousel/map-location-pin.jpg" class="carousel-roundshape" alt="Chicago">
        <div class="carousel-caption">
          <h3>Location Finder</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>

      <div class="item">
        <img src="assets/images/carousel/money-wallpapers-walls.jpg" class="carousel-roundshape" alt="Chicago">
        <div class="carousel-caption">
          <h3>Currency</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>

      <div class="item">
        <img src="assets/images/carousel/post-office.jpg" class="carousel-roundshape" alt="Chicago">
        <div class="carousel-caption">
          <h3>Post Office</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>

      <div class="item">
        <img src="assets/images/carousel/speech.jpg" class="carousel-roundshape" alt="Chicago">
        <div class="carousel-caption">
          <h3>Speech</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>

      <div class="item">
        <img src="assets/images/carousel/weather-hd.jpg" class="carousel-roundshape" alt="Chicago">
        <div class="carousel-caption">
          <h3>Weather</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>

      <div class="item">
        <img src="assets/images/carousel/world-map.jpg" class="carousel-roundshape" alt="Chicago">
        <div class="carousel-caption">
          <h3>Country Information</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>

    </div>
  
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
      <h2 class="text-center">About Us</h2><br>
    <div class="col-sm-8">
      <h3>Introduction</h3>      
      <h4>We Serve you</h4>
      <p>TechDocket is a utility application and was developed with an idea to provide specialized services on a single platform.
         TechDocket provides easiest way to handle various services at one platform. Services like fetching Post Office details can before
         track via this.
      </p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h3>Our Values</h3><br>
      <h4><strong>MISSION:</strong> Our mission is to deliver Simply Easy services altogether at one platform without any preconditions and impediments.</h4><br>
      <p><strong>VISION:</strong> Techdocket forsees to have various other services accessible through its platform for the convenience.</p>
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-usd logo-small"></span>
      <h4><a ui-sref="dashboard.currency"> Money</a></h4>
      <p>Exchange Money here</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-envelope logo-small"></span>
      <h4><a ui-sref="dashboard.postOffice">Post Office</a></h4>
      <p>Know Your Location</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-fire logo-small"></span>
      <h4><a ui-sref="dashboard.oilPrices">Fuel</a></h4>
      <p>Know Oil Prices</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
    <span class="glyphicon glyphicon-pencil logo-small"></span>
      <h4><a ui-sref="dashboard.speech">Speech Conversion</a></h4>
      <p>Here you can convert text to speech or speech to text</p>      
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-list-alt logo-small"></span>
      <h4><a ui-sref="dashboard.news">News</a></h4>
      <p>Top headlines, news channel and everything</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4><a ui-sref="dashboard.location">Location Finder</a></h4>
      <p>Find your location info by just any name</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-magnet logo-small"></span>
      <h4><a ui-sref="dashboard.urlShortner">URL Shortner & Expand</a></h4>
      <p>Here you can compress and expand URL</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-text-width logo-small"></span>
      <h4><a ui-sref="dashboard.languageTranslate">Language view & Translation</a></h4>
      <p>Translate here..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo-small"></span>
      <h4><a ui-sref="dashboard.countries">Countries</a></h4>
      <p>Countries all basic informations</p>
    </div>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey">
  <h2>What our users say</h2>
  <div id="msgCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#msgCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#msgCarousel" data-slide-to="1"></li>
      <li data-target="#msgCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"This web site is really helpful. I am so happy with the result!"<br><span>Pawan Kumar, Accenture, Software Engineer</span></h4>
      </div>
      <div class="item">
        <h4>"Nice Work done!"<br><span>Jass, Deloitte, Consultant</span></h4>
      </div>
      <div class="item">
        <h4>"Could I... BE any more happy with this web site?"<br><span>Sheeba, Developer, Genpack</span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><span>Vivek Kumar, Salesman Manager, OYO Room</span></h4>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#msgCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#msgCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Team (Team Section) -->
<div id="team" class="container-fluid">
  <div class="text-center">
    <h2>Our Team</h2>
    <h3>A key to achieving success is to assemble a strong and stable management team</h3>
    <br>
  </div>
  <div class="row slideanim">
          <div class="col-sm-6">
              <div class="team-member">
                  <img src="assets/images/team/boy.jpg" class="img-responsive img-circle" alt="design project image">
                  <h4>Himanshu Nath</h4>
                  <p class="text-muted">Full Stack Developer</p>
                  <ul class="list-inline social-buttons">
                      <li>
                          <a href="http://twitter.com/" target="_blank">
                              <i class="fa fa-twitter"></i>
                          </a>
                      </li>
                      <li>
                          <a href="http://facebook.com/" target="_blank">
                              <i class="fa fa-facebook"></i>
                          </a>
                      </li>
                      <li>
                          <a href="https://www.linkedin.com" target="_blank">
                              <i class="fa fa-linkedin"></i>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="team-member">
                  <img src="assets/images/team/girl.jpg" class="img-responsive img-circle" alt="design project image">
                  <h4>Jagdeep Sandhu</h4>
                  <p class="text-muted">Mean Stack Developer</p>
                  <ul class="list-inline social-buttons">
                      <li>
                          <a href="http://twitter.com/" target="_blank">
                              <i class="fa fa-twitter"></i>
                          </a>
                      </li>
                      <li>
                          <a href="http://facebook.com/" target="_blank">
                              <i class="fa fa-facebook"></i>
                          </a>
                      </li>
                      <li>
                          <a href="https://www.linkedin.com" target="_blank">
                              <i class="fa fa-linkedin"></i>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <p class="large text-muted">The strength of the team is each individual member. The strength of each member is the team.</p>
              <p class="large text-muted">Teamwork makes the dream work</p>
          </div>
  </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Hyderabad, India</p>
      <p><span class="glyphicon glyphicon-phone"></span> +91 7040622320</p>
      <p><span class="glyphicon glyphicon-envelope"></span> hnath723@gmail.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <form name="emailForm">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" ng-model="hCTRL.mail.name" placeholder="Name" ng-maxlength="100" type="text" required>
          <span class="text-error" data-ng-show="emailForm.name.$dirty && emailForm.name.$invalid && emailForm.name.$error.required">Name is required</span>
          <span class="text-error" ng-show="emailForm.name.$error.maxlength">Maximum length should be 100</span>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" ng-model="hCTRL.mail.id" placeholder="Email" ng-maxlength="100" type="email" required>
          <span class="text-error" data-ng-show="emailForm.email.$dirty && emailForm.email.$invalid && emailForm.email.$error.required">Email is required</span>
          <span class="text-error" ng-show="emailForm.email.$error.maxlength">Maximum length should be 100</span>
          <span class="text-error" ng-show="emailForm.email.$error.email">Not valid email!</span>
        </div>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="comments" name="comments" ng-model="hCTRL.mail.comments" placeholder="Comment" ng-maxlength="2000" rows="5" required></textarea>
        <span class="text-error" data-ng-show="emailForm.comments.$dirty && emailForm.comments.$invalid && emailForm.comments.$error.required">Comment is required</span>
        <span class="text-error" ng-show="emailForm.comments.$error.maxlength">Maximum length should be 2000</span>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-info pull-left" ng-click="hCTRL.sendEmail()" 
          ng-disabled="emailForm.name.$dirty && emailForm.name.$invalid ||
          emailForm.email.$invalid && emailForm.email.$dirty ||
          emailForm.comments.$invalid && emailForm.comments.$dirty || emailForm.$invalid">Send</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>