<div class="container">
    <div class="row">
        <h2>Language Converter</h2>
    </div>
    <div class="editor-indent row">
        <div class="inner">
            <h3>The language of friendship is not words but meanings.</h3>
            <br>
        </div>
        <div class="example">
            <div class="well container">
                <div class="card">
                    <div class="card-body">
                        <form name="languageConvertForm">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="card-title">Select Language:</h4>
                                    <label for="Input">From:</label>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <select name="fromLanguage" class="btn btn-default dropdown-toggle form-control" ng-options="language.code as language.name for language in LTCtrl.languageList track by language.code"
                                                ng-model="LTCtrl.fromlanguage" required>
                                                <option value="" disabled>Select Any Language</option>
                                            </select>
                                            <span class="text-error"
                                                data-ng-show="!languageConvertForm.fromLanguage.$pristine && languageConvertForm.fromLanguage.required">Select any language
                                            </span>                                            
                                        </div>
                                        <div class="col-sm-3">
                                            <button type="button" class="btn" ng-click="LTCtrl.textLanguageDetect()"
                                            ng-disabled="languageConvertForm.inputText.$dirty && languageConvertForm.inputText.$invalid" >Auto Detect</button>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="Input">Input:</label>
                                        <textarea class="form-control text-align-center" name="inputText" ng-minlength="2" rows="6" id="inputText" ng-model="LTCtrl.inputText" required></textarea>
                                        <span class="text-error"
                                        data-ng-show="languageConvertForm.inputText.$dirty && languageConvertForm.inputText.$invalid && languageConvertForm.inputText.$error.required">Input text is required</span>
                                        <span class="text-error" ng-show="languageConvertForm.inputText.$error.minlength">Minimum length should be one</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="card-title">Select Language:</h4>
                                    <label for="Input">To:</label>
                                    <select name="toLanguage" id="toLanguage" class="btn btn-default dropdown-toggle form-control" ng-options="language.code as language.name for language in LTCtrl.languageList track by language.code"
                                        ng-model="LTCtrl.tolanguage" required>
                                        <option value="" disabled>Select Any Language</option>
                                    </select>
                                    <span class="text-error"
                                        data-ng-show="!languageConvertForm.toLanguage.$pristine && languageConvertForm.toLanguage.required">Select any language
                                    </span>
                                    <br>
                                    <br>
                                    <div class="form-group">
                                        <label for="Input">Output:</label>
                                        <textarea class="form-control text-align-center lang-conv-text-output" rows="6" id="comment" ng-model="LTCtrl.outputText" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 text-right">
                                    <button class="btn btn-info" ng-click="LTCtrl.convertText()" ng-disabled="languageConvertForm.inputText.$dirty && languageConvertForm.inputText.$invalid ||
                                    languageConvertForm.fromLanguage.$invalid && languageConvertForm.fromLanguage.$dirty ||
                                    languageConvertForm.toLanguage.$invalid && languageConvertForm.toLanguage.$dirty ||
                                    languageConvertForm.$invalid">Convert</button>
                                </div>
                                <div class="col-sm-6 text-left">
                                    <a ui-sref="dashboard.home"><button type="button" class="btn">Back</button></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>