<div class="container">
    <div class="row">
        <h2>Speech Converter</h2>
    </div>
    <div class="editor-indent row">
        <div class="inner">
            <h3>Liberty doesn't work as well in practice as it does in speeches.</h3>
            <br>
        </div>
        <div class="example">
            <div class="well container">
                <div class="card">
                    <div class="card-body">
                        <uib-tabset type="pills" justified="true">
                            <uib-tab heading="Text To Speech">
                                <form name="textToSpeechForm">
                                    <div id="textToSpeech">
                                        <div class="row">
                                            <div class="col-sm-6 left-right-padding-5-per">
                                                <h4 class="card-title">Select Voice:</h4>
                                                <label for="Input">Speech in which you want to convert text to audio:</label>
                                                <select name="toSpeech" class="btn btn-default dropdown-toggle form-control" ng-options="speech.name as speech.description for speech in SCCtrl.speechList track by speech.name"
                                                    ng-model="SCCtrl.toSpeech" required>
                                                    <option value="" disabled>Select Any Speech</option>
                                                </select>
                                                <span class="text-error" data-ng-show="!textToSpeechForm.toSpeech.$pristine && textToSpeechForm.toSpeech.required">Select any speech
                                                </span>
                                                <br>
                                                <div class="form-group">
                                                    <label for="Input">Text:</label>
                                                    <textarea class="form-control text-align-center" name="inputText" ng-minlength="2" rows="6" id="inputText" ng-model="SCCtrl.inputText"
                                                        required></textarea>
                                                    <span class="text-error" data-ng-show="textToSpeechForm.inputText.$dirty && textToSpeechForm.inputText.$invalid && textToSpeechForm.inputText.$error.required">Input text is required</span>
                                                    <span class="text-error" ng-show="textToSpeechForm.inputText.$error.minlength">Minimum length should be two</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 left-right-padding-5-per">
                                                <div class="row text-align-center top-bottom-margin-per">
                                                    <audio id="convertTextToSpeech" controls autoplay>
                                                        <source id="wav_src" src="" type="audio/wav">
                                                    </audio>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 text-center">
                                                <button class="btn btn-info" ng-click="SCCtrl.textToSpeech()" ng-disabled="textToSpeechForm.inputText.$dirty && textToSpeechForm.inputText.$invalid ||
                                                        textToSpeechForm.toSpeech.$invalid && textToSpeechForm.toSpeech.$dirty || textToSpeechForm.$invalid">Convert To Speech</button>
                                            </div>
                                            <div class="col-sm-6 text-center">
                                                <a ui-sref="dashboard.home">
                                                    <button type="button" class="btn">Back</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </uib-tab>
                            <uib-tab heading="Speech To Text">
                                <form name="speechToTextForm">
                                    <div id="speechToText">
                                        <div class="row">
                                            <div class="col-sm-6 left-right-padding-5-per">
                                                <h4 class="card-title">Select file to convert:</h4>
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <button class="btn btn-info" ngf-select ng-model="SCCtrl.audioFile" name="audioFile" ngf-pattern="'audio/*'" ngf-accept="'audio/*'"
                                                            ngf-max-size="20MB" required> Select File</button>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <audio controls ngf-src="SCCtrl.audioFile" controls controlsList="nodownload"></audio>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 left-right-padding-5-per">
                                                <div class="form-group">
                                                    <label for="Input">Text:</label>
                                                    <textarea class="form-control text-align-center lang-conv-text-output" name="outputText" ng-minlength="2" rows="6" id="outputText" ng-model="SCCtrl.outputText" disabled></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6 text-center">
                                                <button class="btn btn-info" ng-click="SCCtrl.speechToText()" ng-disabled="
                                                        speechToTextForm.audioFile.$invalid ||
                                                        speechToTextForm.$invalid">Convert To Text</button>
                                            </div>
                                            <div class="col-sm-6 text-center">
                                                <a ui-sref="dashboard.home">
                                                    <button type="button" class="btn">Back</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>